// Place all the styles related to the api/v1/shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.btn-details {
  padding: .25rem .4rem;
  text-transform: uppercase;
  // background-color: #476a2e;
  color: white;
}

.logo {
  width: 30px;
}

.fa-heart {
color: #f30606;
}

.fa-thumbs-up 
.fa-thumbs-up {
  font-size: 1.1rem;
}

.fa-thumbs-up:hover {
  cursor: pointer;
}
// #bootstrap-overrides btn-info { 
//   padding: .25rem .4rem;
//   text-transform: uppercase;
//   background-color: #476a2e;
//   color: white;
// }
